server_name: "{{MATRIX_SERVER_NAME}}"
pid_file: /data/homeserver.pid
public_baseurl: "{{MATRIX_PUBLIC_BASEURL}}/"
web_client_location: "{{MATRIX_ELEMENT_PUBLIC_URL}}/"
{{MATRIX_SYNAPSE_TLS_CONFIG}}

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation, metrics]
        compress: false
{{MATRIX_SYNAPSE_PUBLIC_LISTENER}}

database:
  name: psycopg2
  args:
    user: synapse
    password: "{{MATRIX_DB_PASSWORD}}"
    database: synapse
    host: ops-chat-db
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: /data/log.config
media_store_path: /data/media_store
signing_key_path: /data/homeserver.signing.key
registration_shared_secret: "{{MATRIX_REGISTRATION_SHARED_SECRET}}"
report_stats: false
enable_registration: false
enable_registration_without_verification: false
allow_guest_access: false
trusted_key_servers: []

app_service_config_files:
  - /data/ops-chat-appservice.yaml

oidc_providers:
  - idp_id: keycloak
    idp_name: Keycloak
{{MATRIX_OIDC_ENDPOINTS}}
    issuer: "{{MATRIX_OIDC_ISSUER}}"
    client_id: "{{MATRIX_OIDC_CLIENT_ID}}"
    client_secret: "{{MATRIX_OIDC_CLIENT_SECRET}}"
    scopes: ["openid", "profile", "email"]
    allow_existing_users: true
    user_mapping_provider:
      config:
        localpart_template: "{{ user.preferred_username }}"
        display_name_template: "{{ user.name }}"
        email_template: "{{ user.email }}"

sso:
  client_whitelist:
    - "http://localhost:3301/"
    - "{{MATRIX_ELEMENT_PUBLIC_URL}}/"

password_config:
  enabled: false

rc_login:
  address:
    per_second: 20
    burst_count: 200
  account:
    per_second: 20
    burst_count: 200
  failed_attempts:
    per_second: 20
    burst_count: 200

rc_message:
  per_second: 2
  burst_count: 10
